@{
    ViewData["Title"] = "Rooms ";
}
@model AgentieDeTurismWeb.Models.BookingAPI.HotelDetailViewModel
<head>
    <meta charset="utf-8">
    <title>Travel</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link href="img/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
</head>

<body>

    <div class="container-xxl bg-white p-0">
        <div class="container-fluid ">
            <div class="container">
                <div class="row g-4" style="margin-bottom: 30px">
                    <div class="col-lg-6 col-md-6 fadeInUp">
                        <div class="room-item shadow rounded overflow-hidden">
                            <div class="position-relative">
                                <img src="@Model.HotelViewModel.Photo" alt="" width="500" height="300">
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0">@Model.HotelViewModel.Result.hotel_name</h5>
                                    <div class="ps-2">
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                    </div>
                                </div>
                                <div class="d-flex mb-3">
                                    <small><i class="text-primary me-2"></i>@Model.HotelViewModel.Result.address_trans</small>
                                </div>
                                <p class="text-body mb-3">@Model.HotelViewModel.Description</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div style="width: 100%"><iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=@Model.HotelViewModel.Result.latitude,@Model.HotelViewModel.Result.longitude+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/population/">Population calculator map</a></iframe></div>
                        </div>
                        <div class="row">
                            <div class="front">
                                <div>
                                    <div class="temperature">
                                        @Model.HotelViewModel.Weather.current.temp_c °
                                    </div>
                                    <div>
                                        <div class="info">
                                            <i class="fas fa-wind"></i>   
                                            @Model.HotelViewModel.Weather.current.wind_dir @Model.HotelViewModel.Weather.current.wind_kph km/h<br>
                                            <br />
                                            <i class="fas fa-tint"></i>
                                            @Model.HotelViewModel.Weather.current.humidity %
                                            <br/>
                                        </div>
                                        <table class="preview">
                                            <tbody>
                                                <tr>
                                                    <td>Tue</td>
                                                    <td>@Model.HotelViewModel.Weather.forecast.forecastday.ElementAtOrDefault(0)?.day.maxtemp_c ° | @Model.HotelViewModel.Weather.forecast.forecastday.ElementAtOrDefault(0)?.day.mintemp_c °</td>
                                                </tr>
                                                <tr>
                                                    <td>Wed</td>
                                                    <td>@Model.HotelViewModel.Weather.forecast.forecastday.ElementAtOrDefault(1)?.day.maxtemp_c ° | @Model.HotelViewModel.Weather.forecast.forecastday.ElementAtOrDefault(1)?.day.mintemp_c °</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="bg-white shadow" style="padding: 35px;">
                    <div class="row g-2">
                        <div class="col-md-12">
                            <div class="row g-2">
                                <div class="col-md-3">
                                    <label>Room name</label>
                                </div>
                                <div class="col-md-3">
                                    <label>Description</label>
                                </div>
                                <div class="col-md-3">
                                    <label>Beds</label>
                                </div>
                                <div class="col-md-3">
                                    <label>Facilities</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-2">
                        @foreach (var room in Model.Rooms.rooms)
                        {
                            <div class="col-md-11">
                                <div class="row g-2">
                                    <div class="col-md-2">
                                        <label>Room 1</label>
                                    </div>
                                    <div class="col-md-4">
                                        <label>@room.Value.description</label>
                                    </div>
                                    <div class="col-md-2">
                                        @foreach (var configuration in room.Value.bed_configurations)
                                        {
                                            <label>Option:</label>
                                            @foreach (var bedType in configuration.bed_types)
                                            {
                                                <label>@bedType.description</label>
                                            }
                                        }
                                    </div>

                                    <div class="col-md-4">
                                        @foreach (var facility in room.Value.facilities)
                                        {
                                            <label>@facility.name</label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button type="submit" class="btn btn-primary w-100">Book</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="js/main.js"></script>
</body>